In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/Users/Apple/Desktop/DataX/Deep Vu project/resupplychainoptimizationdataxprojectteam/metals_daily_train.csv')
data.head()

,date,p0,p1,p2,f000_open,f000_high,f000_low,f000_settle,f001_open,f001_high,...,f136_open,f136_high,f136_low,f136_settle,f137_open,f137_high,f137_low,f137_settle,week,week_date
0,20080701,NaN,NaN,NaN,24.72,24.85,23.77,23.80,24.66,24.72,...,16175.0,16240.0,16055.0,16165.0,16185.0,16250.0,16080.0,16145.0,2008,20080630
1,20080702,NaN,NaN,NaN,23.80,24.99,23.67,24.95,23.72,24.80,...,16130.0,16170.0,15910.0,16045.0,16125.0,16180.0,15880.0,16020.0,2008,20080630
2,20080703,NaN,NaN,NaN,24.80,25.25,24.49,24.69,24.65,25.06,...,15825.0,15960.0,15470.0,15650.0,15900.0,15950.0,15385.0,15640.0,2008,20080630
3,20080704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15060.0,15260.0,15060.0,15175.0,15055.0,15250.0,15055.0,15155.0,2008,20080630
4,20080707,NaN,NaN,NaN,24.30,25.30,24.19,24.78,24.33,25.10,...,15100.0,15255.0,15100.0,15190.0,15010.0,15240.0,15010.0,15165.0,2009,20080707

In [4]:
#remove rows where label is missing

mask = data['p1'].isnull()

indexnull = data[mask].index
data = data.drop(index = indexnull, axis =0)
data.head(10)

,date,p0,p1,p2,f000_open,f000_high,f000_low,f000_settle,f001_open,f001_high,...,f136_open,f136_high,f136_low,f136_settle,f137_open,f137_high,f137_low,f137_settle,week,week_date
109,20081201,444.511058,457.032497,457.032497,53.08,56.33,52.62,56.29,49.11,52.15,...,9420.0,9680.0,9315.0,9540.0,9520.0,9800.0,9495.0,9650.0,2030,20081201
110,20081202,446.908899,465.530103,459.323035,55.99,56.29,54.68,55.30,51.80,52.24,...,9480.0,9600.0,9430.0,9510.0,9640.0,9730.0,9560.0,9630.0,2030,20081201
111,20081203,453.484820,482.060575,459.696940,56.50,56.72,54.65,55.21,53.01,53.02,...,9495.0,9580.0,9400.0,9500.0,9530.0,9690.0,9505.0,9590.0,2030,20081201
112,20081204,447.532919,472.395859,459.964389,55.50,57.81,54.88,57.62,51.75,54.42,...,9485.0,9485.0,9120.0,9145.0,9400.0,9445.0,9205.0,9225.0,2030,20081201
113,20081205,447.084228,471.922241,459.503235,58.50,60.00,56.63,56.75,54.70,56.18,...,8710.0,9000.0,8595.0,8665.0,8885.0,8940.0,8670.0,8715.0,2030,20081201
114,20081208,447.227191,472.073147,459.650169,55.03,55.85,54.14,54.67,51.82,53.77,...,8315.0,9010.0,8315.0,8900.0,8400.0,9060.0,8400.0,8970.0,2031,20081208
115,20081209,447.285703,472.134908,459.710305,55.25,55.65,54.17,55.38,53.34,53.82,...,9270.0,9300.0,8955.0,9135.0,9270.0,9375.0,9010.0,9170.0,2031,20081208
116,20081210,447.650117,472.519568,460.084842,55.16,55.60,53.78,54.44,53.36,53.71,...,9165.0,9400.0,9165.0,9295.0,9290.0,9460.0,9170.0,9355.0,2031,20081208
117,20081211,448.237028,473.139085,460.688056,54.86,55.32,52.60,55.32,53.45,53.60,...,9350.0,9350.0,9140.0,9205.0,9395.0,9395.0,9190.0,9270.0,2031,20081208
118,20081212,449.094065,467.806318,459.073933,55.85,56.50,54.22,54.46,53.92,54.50,...,9200.0,9215.0,8910.0,9090.0,9230.0,9230.0,8895.0,9070.0,2031,20081208

In [5]:
#work with alternate dataframe for generating averages of features for each week
data2 = data.drop(['week_date'], axis=1)


#generate empty matrix to store averages of weeks 
num_rows=len(data2.week.unique()) + 1
num_colns=data2.shape[1]

#the averages matrix will have the average value for each week, i.e. '2008' and each column feature  i.e 'f001_open' 
#the rows are weeks and columns are features 
averages_matrix = np.zeros((num_rows, num_colns))

In [6]:

# loop through column names and week names i.e 'f001_open'... and '2008'....
column_names = data2.drop('week',axis=1).columns
week  = data2.week.unique()

#check if there are rows with missing week values
print('any missing value in week column?: ', data2.week.isnull().any())

# to fill matrix, we need the index of each row and column looped through 
# to keep track of column and row number, insert column_number and row_number and increment

# that way we can use the function .loc which takes column names and lets us search easily for NaN instead of .iloc
#also we are not looping through every cell of the dataframe, only on specific weeks and columns a
#and then searching for NaN in a cut-down dataframe

#filling averages matrix 
column_number = 0
for i in column_names:
    row_number = 0
    for j in week:
        average_df = data2.loc[data2.week == j, i].dropna()
        average_guess = average_df.mean()
        
        averages_matrix[row_number, column_number] = average_guess
        row_number = row_number + 1 
    column_number = column_number + 1

print('Estimate Matrix:', averages_matrix)

any missing value in week column?:  False
Estimate Matrix: [[2.00812030e+07 4.47904385e+02 4.69788255e+02 ... 9.28700000e+03
  9.36200000e+03 0.00000000e+00]
 [2.00812100e+07 4.47898821e+02 4.71534605e+02 ... 8.93300000e+03
  9.16700000e+03 0.00000000e+00]
 [2.00812170e+07 4.49940416e+02 4.84941516e+02 ... 9.12400000e+03
  9.26800000e+03 0.00000000e+00]
 ...
 [2.01805090e+07 5.55078874e+02 5.67444204e+02 ... 2.34960000e+04
  2.36950000e+04 0.00000000e+00]
 [2.01805160e+07 5.58787354e+02 5.83843444e+02 ... 2.35370000e+04
  2.37100000e+04 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

In [11]:
#now we need to fill back the original dataframe i.e. data2 
# the function .loc only fills 1 NaN per loop so the function while had to be added to fill more than 1 value in 
#a certain week with the original average

#also, did not wanted to fill the values where all the rows are NaNs for a certain week 
# but I ended up filling those who had extra values for weekend beyond 5 days

# column_number and row_number for keeping track of number index of weeks and columns looped through to refer to matrix
column_number = 0
for i in column_names:
    row_number=0
    for j in week:
        # keep looping while the number of nulls in smaller dataframe for week i and column j still has NaNs
        # second constraint is to avoid infinite loops if all rows are NaNs 
        
        while( ((data2.loc[ (data2.week == j), i].isnull().sum() ) > 0)\
               & (data2.loc[(data2.week == j), i].isnull().sum() != (data2.loc[(data2.week == j), i].isnull().shape[0])) ):
            
            #fill the dataframe with the values stored in matrix corresponding to week i and column j
            data2.loc[ (data2[i].isnull())&(data2.week == j ), i ] = averages_matrix[row_number,column_number]
        
        row_number = row_number + 1 
    #print to keep track of iteration
    print(i)
    column_number = column_number + 1

date
p0
p1
p2
f000_open
f000_high
f000_low
f000_settle
f001_open
f001_high
f001_low
f001_settle
f002_open
f002_high
f002_low
f002_settle
f003_open
f003_high
f003_low
f003_settle
f004_open
f004_high
f004_low
f004_settle
f005_open
f005_high
f005_low
f005_settle
f006_open
f006_high
f006_low
f006_settle
f007_open
f007_high
f007_low
f007_settle
f008_open
f008_high
f008_low
f008_settle
f009_open
f009_high
f009_low
f009_settle
f010_open
f010_high
f010_low
f010_settle
f011_open
f011_high
f011_low
f011_settle
f012_open
f012_high
f012_low
f012_settle
f013_open
f013_high
f013_low
f013_settle
f014_open
f014_high
f014_low
f014_settle
f015_open
f015_high
f015_low
f015_settle
f016_open
f016_high
f016_low
f016_settle
f017_open
f017_high
f017_low
f017_settle
f018_open
f018_high
f018_low
f018_settle
f019_open
f019_high
f019_low
f019_settle
f020_open
f020_high
f020_low
f020_settle
f021_open
f021_high
f021_low
f021_settle
f022_open
f022_high
f022_low
f022_settle
f023_open
f023_high
f023_low
f023_settle
f024_open
f024_high
f024_low
f024_settle
f025_open
f025_high
f025_low
f025_settle
f026_open
f026_high
f026_low
f026_settle
f027_open
f027_high
f027_low
f027_settle
f028_open
f028_high
f028_low
f028_settle
f029_open
f029_high
f029_low
f029_settle
f030_open
f030_high
f030_low
f030_settle
f031_open
f031_high
f031_low
f031_settle
f032_open
f032_high
f032_low
f032_settle
f033_open
f033_high
f033_low
f033_settle
f034_open
f034_high
f034_low
f034_settle
f035_open
f035_high
f035_low
f035_settle
f036_open
f036_high
f036_low
f036_settle
f037_open
f037_high
f037_low
f037_settle
f038_open
f038_high
f038_low
f038_settle
f039_open
f039_high
f039_low
f039_settle
f040_open
f040_high
f040_low
f040_settle
f041_open
f041_high
f041_low
f041_settle
f042_open
f042_high
f042_low
f042_settle
f043_open
f043_high
f043_low
f043_settle
f044_open
f044_high
f044_low
f044_settle
f045_open
f045_high
f045_low
f045_settle
f046_open
f046_high
f046_low
f046_settle
f047_open
f047_high
f047_low
f047_settle
f048_open
f048_high
f048_low
f048_settle
f049_open
f049_high
f049_low
f049_settle
f050_open
f050_high
f050_low
f050_settle
f051_open
f051_high
f051_low
f051_settle
f052_open
f052_high
f052_low
f052_settle
f053_open
f053_high
f053_low
f053_settle
f054_open
f054_high
f054_low
f054_settle
f055_open
f055_high
f055_low
f055_settle
f056_open
f056_high
f056_low
f056_settle
f057_open
f057_high
f057_low
f057_settle
f058_open
f058_high
f058_low
f058_settle
f059_open
f059_high
f059_low
f059_settle
f060_open
f060_high
f060_low
f060_settle
f061_open
f061_high
f061_low
f061_settle
f062_open
f062_high
f062_low
f062_settle
f063_open
f063_high
f063_low
f063_settle
f064_open
f064_high
f064_low
f064_settle
f065_open
f065_high
f065_low
f065_settle
f066_open
f066_high
f066_low
f066_settle
f067_open
f067_high
f067_low
f067_settle
f068_open
f068_high
f068_low
f068_settle
f069_open
f069_high
f069_low
f069_settle
f070_open
f070_high
f070_low
f070_settle
f071_open
f071_high
f071_low
f071_settle
f072_open
f072_high
f072_low
f072_settle
f073_open
f073_high
f073_low
f073_settle
f074_open
f074_high
f074_low
f074_settle
f075_open
f075_high
f075_low
f075_settle
f076_open
f076_high
f076_low
f076_settle
f077_open
f077_high
f077_low
f077_settle
f078_open
f078_high
f078_low
f078_settle
f079_open
f079_high
f079_low
f079_settle
f080_open
f080_high
f080_low
f080_settle
f081_open
f081_high
f081_low
f081_settle
f082_open
f082_high
f082_low
f082_settle
f083_open
f083_high
f083_low
f083_settle
f084_open
f084_high
f084_low
f084_settle
f085_open
f085_high
f085_low
f085_settle
f086_open
f086_high
f086_low
f086_settle
f087_open
f087_high
f087_low
f087_settle
f088_open
f088_high
f088_low
f088_settle
f089_open
f089_high
f089_low
f089_settle
f090_open
f090_high
f090_low
f090_settle
f091_open
f091_high
f091_low
f091_settle
f092_open
f092_high
f092_low
f092_settle
f093_open
f093_high
f093_low
f093_settle
f094_open
f094_high
f094_low
f094_settle
f095_open
f095_high
f095_low
f095_settle
f096_open
f096_high
f096_low
f096_settle
f097_open
f097_high
f097_low
f097_settle
f098_open
f098_high
f098_low
f098_settle
f099_open
f099_high
f099_low
f099_settle
f100_open
f100_high
f100_low
f100_settle
f101_open
f101_high
f101_low
f101_settle
f102_open
f102_high
f102_low
f102_settle
f103_open
f103_high
f103_low
f103_settle
f104_open
f104_high
f104_low
f104_settle
f105_open
f105_high
f105_low
f105_settle
f106_open
f106_high
f106_low
f106_settle
f107_open
f107_high
f107_low
f107_settle
f108_open
f108_high
f108_low
f108_settle
f109_open
f109_high
f109_low
f109_settle
f110_open
f110_high
f110_low
f110_settle
f111_open
f111_high
f111_low
f111_settle
f112_open
f112_high
f112_low
f112_settle
f113_open
f113_high
f113_low
f113_settle
f114_open
f114_high
f114_low
f114_settle
f115_open
f115_high
f115_low
f115_settle
f116_open
f116_high
f116_low
f116_settle
f117_open
f117_high
f117_low
f117_settle
f118_open
f118_high
f118_low
f118_settle
f119_open
f119_high
f119_low
f119_settle
f120_open
f120_high
f120_low
f120_settle
f121_open
f121_high
f121_low
f121_settle
f122_open
f122_high
f122_low
f122_settle
f123_open
f123_high
f123_low
f123_settle
f124_open
f124_high
f124_low
f124_settle
f125_open
f125_high
f125_low
f125_settle
f126_open
f126_high
f126_low
f126_settle
f127_open
f127_high
f127_low
f127_settle
f128_open
f128_high
f128_low
f128_settle
f129_open
f129_high
f129_low
f129_settle
f130_open
f130_high
f130_low
f130_settle
f131_open
f131_high
f131_low
f131_settle
f132_open
f132_high
f132_low
f132_settle
f133_open
f133_high
f133_low
f133_settle
f134_open
f134_high
f134_low
f134_settle
f135_open
f135_high
f135_low
f135_settle
f136_open
f136_high
f136_low
f136_settle
f137_open
f137_high
f137_low
f137_settle

In [12]:
data.head()

,date,p0,p1,p2,f000_open,f000_high,f000_low,f000_settle,f001_open,f001_high,...,f136_open,f136_high,f136_low,f136_settle,f137_open,f137_high,f137_low,f137_settle,week,week_date
109,20081201,444.511058,457.032497,457.032497,53.08,56.33,52.62,56.29,49.11,52.15,...,9420.0,9680.0,9315.0,9540.0,9520.0,9800.0,9495.0,9650.0,2030,20081201
110,20081202,446.908899,465.530103,459.323035,55.99,56.29,54.68,55.30,51.80,52.24,...,9480.0,9600.0,9430.0,9510.0,9640.0,9730.0,9560.0,9630.0,2030,20081201
111,20081203,453.484820,482.060575,459.696940,56.50,56.72,54.65,55.21,53.01,53.02,...,9495.0,9580.0,9400.0,9500.0,9530.0,9690.0,9505.0,9590.0,2030,20081201
112,20081204,447.532919,472.395859,459.964389,55.50,57.81,54.88,57.62,51.75,54.42,...,9485.0,9485.0,9120.0,9145.0,9400.0,9445.0,9205.0,9225.0,2030,20081201
113,20081205,447.084228,471.922241,459.503235,58.50,60.00,56.63,56.75,54.70,56.18,...,8710.0,9000.0,8595.0,8665.0,8885.0,8940.0,8670.0,8715.0,2030,20081201

In [14]:
#remove remaining missing values, or fill them with previous week's value later 
data2 = data2.dropna(axis =0)
print(data2.head())
print()

data2.isnull().sum()

         date          p0          p1          p2  f000_open  f000_high  \
109  20081201  444.511058  457.032497  457.032497      53.08      56.33
110  20081202  446.908899  465.530103  459.323035      55.99      56.29
111  20081203  453.484820  482.060575  459.696940      56.50      56.72
112  20081204  447.532919  472.395859  459.964389      55.50      57.81
113  20081205  447.084228  471.922241  459.503235      58.50      60.00

     f000_low  f000_settle  f001_open  f001_high  ...   f135_settle  \
109     52.62        56.29      49.11      52.15  ...       10690.0
110     54.68        55.30      51.80      52.24  ...       10300.0
111     54.65        55.21      53.01      53.02  ...       10050.0
112     54.88        57.62      51.75      54.42  ...        9735.0
113     56.63        56.75      54.70      56.18  ...        9150.0

     f136_open  f136_high  f136_low  f136_settle  f137_open  f137_high  \
109     9420.0     9680.0    9315.0       9540.0     9520.0     9800.0
110     9480.0     9600.0    9430.0       9510.0     9640.0     9730.0
111     9495.0     9580.0    9400.0       9500.0     9530.0     9690.0
112     9485.0     9485.0    9120.0       9145.0     9400.0     9445.0
113     8710.0     9000.0    8595.0       8665.0     8885.0     8940.0

     f137_low  f137_settle  week
109    9495.0       9650.0  2030
110    9560.0       9630.0  2030
111    9505.0       9590.0  2030
112    9205.0       9225.0  2030
113    8670.0       8715.0  2030

[5 rows x 557 columns]

date           0
p0             0
p1             0
p2             0
f000_open      0
f000_high      0
f000_low       0
f000_settle    0
f001_open      0
f001_high      0
f001_low       0
f001_settle    0
f002_open      0
f002_high      0
f002_low       0
f002_settle    0
f003_open      0
f003_high      0
f003_low       0
f003_settle    0
f004_open      0
f004_high      0
f004_low       0
f004_settle    0
f005_open      0
f005_high      0
f005_low       0
f005_settle    0
f006_open      0
f006_high      0
              ..
f130_settle    0
f131_open      0
f131_high      0
f131_low       0
f131_settle    0
f132_open      0
f132_high      0
f132_low       0
f132_settle    0
f133_open      0
f133_high      0
f133_low       0
f133_settle    0
f134_open      0
f134_high      0
f134_low       0
f134_settle    0
f135_open      0
f135_high      0
f135_low       0
f135_settle    0
f136_open      0
f136_high      0
f136_low       0
f136_settle    0
f137_open      0
f137_high      0
f137_low       0
f137_settle    0
week           0
Length: 557, dtype: int64