In [1]:
#importing all the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('metals_daily_train.csv')
data.head(5)

,date,p0,p1,p2,f000_open,f000_high,f000_low,f000_settle,f001_open,f001_high,...,f136_open,f136_high,f136_low,f136_settle,f137_open,f137_high,f137_low,f137_settle,week,week_date
0,20080701,NaN,NaN,NaN,24.72,24.85,23.77,23.80,24.66,24.72,...,16175.0,16240.0,16055.0,16165.0,16185.0,16250.0,16080.0,16145.0,2008,20080630
1,20080702,NaN,NaN,NaN,23.80,24.99,23.67,24.95,23.72,24.80,...,16130.0,16170.0,15910.0,16045.0,16125.0,16180.0,15880.0,16020.0,2008,20080630
2,20080703,NaN,NaN,NaN,24.80,25.25,24.49,24.69,24.65,25.06,...,15825.0,15960.0,15470.0,15650.0,15900.0,15950.0,15385.0,15640.0,2008,20080630
3,20080704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15060.0,15260.0,15060.0,15175.0,15055.0,15250.0,15055.0,15155.0,2008,20080630
4,20080707,NaN,NaN,NaN,24.30,25.30,24.19,24.78,24.33,25.10,...,15100.0,15255.0,15100.0,15190.0,15010.0,15240.0,15010.0,15165.0,2009,20080707

In [3]:
data=data.drop(columns=['date','week_date'])

In [4]:
#Dropping all the rows with p1 values as NaN

mask=data['p1'].isnull()
nullindex=data[mask].index
data=data.drop(axis=0,index=nullindex)

In [5]:
#Re-indexing the data frame to continuos series starting from 0

ind=np.array(range(data.shape[0]))
data=data.set_index(ind)

In [6]:
#initializing the new data frames with same columns as data
mean_values= pd.DataFrame(columns=data.columns)
median_values= pd.DataFrame(columns=data.columns)

#Filling the week column of new dataframes with unique values week in data frame
weeks = data['week'].unique()
mean_values['week']=weeks
median_values['week']=weeks

In [9]:
column_weeks = data['week']
col= data.shape[1]
mean_values=mean_values.set_index(mean_values['week'])
median_values=median_values.set_index(median_values['week'])
row= mean_values.shape[0]


for w in range(row):
    mask= (column_weeks==weeks[w])
    k= column_weeks[mask].index
    
    for s in range(col):
        zeros=0
        values=np.array([])
        
        for t in list(k):
            if(pd.isna(data.iloc[t,s])):
                zeros+=1
            else:
                values=np.append(values,data.iloc[t,s])
                
#calculating the mean values of each column for every week.

        if(len(values) == 0):
            continue
        else:
            mean_values.iloc[w,s]= np.mean(values)
            median_values.iloc[w,s] = np.median(values)

In [10]:
#forward and backward filling of missing week values

mean_values=mean_values.bfill().ffill()
mean_values.isnull().values.sum()

0

In [11]:
median_values=median_values.bfill().ffill()
median_values.isnull().values.sum()

0

In [12]:
#saving the new data frame as new csv file

mean_values.to_csv('mean_values.csv', encoding='utf-8')
median_values.to_csv('median_values.csv', encoding='utf-8')